# Change Request

**Organization:** {{ organization }}  
**Glossary:** {{ glossary_title }}  
**Date submitted:** {{ effective_date }}

## Requestor

Name / team:

## Term affected

Term ID:

## Change type

- [ ] New term
- [ ] Definition update
- [ ] Status change
- [ ] Deprecation
- [ ] Other

## Description of change

## Rationale

## Impact assessment

## Approval

| Role | Name | Date | Decision |
|------|------|------|----------|
| Steward | | | |
| Reviewer | | | |
| Owner | | | |
